.name {
  color: gray;
  text-align: center;
  font-size: 60px;
}
.photo{
 width: 250px;
 height: 250px;
 border-radius: 20px;
}
.p {
  text-align: center;
  font-size: 25px;
}
.a {
  text-decoration: none;
}
body {
  background-color: #2B2B2B;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin-bottom: 25px;
  background-color: #2B2B2B;
  border: none;
  border-bottom: 1px solid gray;
}
button {
margin-bottom: 25px;
margin-top: 30px;
padding: 10px ;
background-color: gray;
border: 1px solid black;
border-radius: 10px;
}

.t {
  width: 40px;
}